.worcspace {
  width: 70%;
  margin: 1rem;
}
.worcspaceEdit {
  &__title {
    width: 100%;
    min-height: 30px;
    margin-bottom: 1rem;
    border: none;
    padding: 1rem;
    font-size: 16px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #999;
      font-family: "Mukta", sans-serif;
    }
  }
  &__body {
    width: 100%;
    min-height: 200px;
    border: none;
    padding: 1rem;
    font-size: 16px;
    resize: none;
    &::placeholder {
      color: #999;
      font-family: "Mukta", sans-serif;
    }
    &:focus {
      outline: none;
    }
  }
}
.noNote {
  border: 2px solid white;
  min-height: 40vh;
  padding: 1rem;
  width: 100%;
  margin: 1rem;
  color: #999;
  font-family: "Mukta", sans-serif;
  background: white;
}
.worcspacePreview {
  border: 2px solid white;
  min-height: 40vh;
  padding: 1rem;
  width: 100%;

  &__title {
    width: 80%;
  }
  &__body {
    width: 80%;
  }
}
