.sidebar {
  min-width: 30%;
  &__find {
    width: 95%;
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    font-family: "Mukta", sans-serif;
    color: #333;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
    &:focus {
      outline: none;
      background-color: #fff;
      box-shadow: 0 0 0 2px orange;
    }

    &::placeholder {
      color: #999;
    }
  }
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  &__title {
    font-size: 30px;
    font-weight: 700;
  }
  &__body {
    width: 90%;
  }
  &__button {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    transition-duration: 1s;
    &:hover {
      color: orange;
    }
  }
}
.sidebarNote {
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
  padding: 0.5rem;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.noteDelete {
  transform: rotate(45deg);
}
.noteMeta {
  font-size: 10px;
}
.active {
  background: white;
}
